.yourcommand {
  font-weight:bold;
  color:#FED;
}

.answer {
  font-weight:normal;
  color:#CCC;
  font-size:0.8em;
}

.answer .command {
  background-color:#69F;
  border-radius:3px;
  color:#FFF;
  padding:3px;
}

.answer .args {
  color:#F96;
}

.answer .module {
  background-color:#F96;
  border-radius:3px;
  color:#FFF;
  padding:3px;
}

.answer .module.hidden {
  background-color:#333;
}

.ASSTNT .status {
  border-radius:50%;
  background-color:#333;
  font-size:60px;
  line-height:80px;
  text-align: center;
  vertical-align: middle;
  width:80px;
  height:80px;
}

.ASSTNT .status.INITIALIZED {
  color:#999;
}

.ASSTNT .status.HOTWORD_STARTED {
  color:#FFF;
}

.ASSTNT .status.HOTWORD_DETECTED {
  color:#F66;
}

.ASSTNT .status.ASSISTANT_STARTED {
  color:#FFF;
}

.ASSTNT .status.ASSISTANT_SPEAKING {
  color:#F66;
}

.ASSTNT .status.COMMAND_STARTED {
  color:#FFF;
}

.ASSTNT .status.COMMAND_LISTENED {
  color:#F66;
}

.ASSTNT .status.SPEAK_STARTED {
  color:#F66;
}

.ASSTNT .status.SPEAK_ENDED {
  color:#FFF;
}
